.header{
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    background-image: url("../top_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #1a1919;
    /* border: 1px solid #2c2c2c; */
    position: relative;
    width: 1200px; 
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}
.div-1{
    display: inline;
    align-items: center;
}
.div-left{
    float: left;
    margin-left: 20px;
}
.img-logo{
    width: 140px;
    height: 140px;
}
.span-1{
    margin-left: 10px;
    font-size: 30px;
}
.span-2{
    font-size: 20px;
    line-height: 35px;
}
.span-3{
    margin-left: 10px;
    font-size: 20px;
}
.span-4{
    margin-left: 5px;
}
.div-3{
    position: absolute;
    left:0;
    bottom:0px;
    background-color:#000000;
    opacity: 0.7;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    font: normal 10px Cookie;
    padding: 0px 0px;
    color:#fff;
    font-family:"Microsoft YaHei";
}
.div-3-h{
    margin-left: 1px;
    line-height: 30px;
    font-size: 17px;
}
.box{
    display: block;
    align-items:center;
}
.box-1{
    display: block;
    float: left;
    align-items:center;
    height: 130px;
    margin-left: 30px;
    margin-top: 20px;
}
.box-2{
    display: block;
    float: left;
    align-items:center;

}
h1{
    display: flex;
    align-items: center;
    font: normal 25px Cookie;
    padding: 0px 5px;
    color:#fff;
    font-family:"Microsoft YaHei";
    line-height: 45px;
}
h2{
    display: flex;
    align-items: center;
    font: normal 15px Cookie;
    padding: 0px 5px;
    color:#fff;
    font-family:"Microsoft YaHei";
    /* line-height: 20px; */
}
.img-title{
    width: 50px;
    height: 25px;
}
.small-img{
    width: 18px;
    height: 18px;
}
.img-h4{
    width: 38px;
    height: 20px;
    margin-left: 10px;
}
.btn{
    position: absolute;
    right: 15px;
    font-size: 19px;
    width: 60px;
    height: 30px;
    font-weight: bold;
}

.login-div{
    width: 1200px;position: absolute;z-index: 1;
}
.login{
    margin-left: auto;margin-right: auto;
}